[2017-04-11 10:11] Plasmmer opened #1 "Favicon"

[2017-04-11 10:11] Plasmmer opened #2 "Can delete own messages"

[2017-04-11 10:11] Plasmmer opened #3 "Can change message's color (background/text)"

[2017-04-11 10:11] Plasmmer opened #4 "Speech balloon message design"

[2017-04-11 10:14] AnthyG commented on #4
What's wrong with the design ❔

[2017-04-11 10:17] Plasmmer commented on #4
I'm not talking something is wrong, I'm just suggesting a speech balloon design.

[2017-04-11 10:19] Plasmmer opened #5 "App icon in topbar"

[2017-04-11 10:24] Plasmmer opened #6 "Private messages (based in ZeroMail)"

[2017-04-11 10:25] AnthyG commented on #5
#1 should be completed first to achieve this.

[2017-04-11 10:28] AnthyG commented on #6
This will be one of the main features, as (I believe) *ALL* "chat"-applications have got this!

The features:
 - end2end-Encrypted
 - both Users have the complete Chat-History (Encrypted, only readable with their own private key, and not being seeded)
 - Avatar and Username are displayed (maybe at the top?)

[2017-04-11 10:29] Plasmmer commented on #5
I already have a icon (I've made in 2013).

[2017-04-11 10:29] Plasmmer opened #7 "Mobile ready"

[2017-04-11 10:30] Plasmmer opened #8 "Github link"

[2017-04-11 10:32] Plasmmer opened #9 "Presentation/tour for non-logged users"

[2017-04-11 10:33] AnthyG opened #10 "Optional media has to be optional."
Optional media-files like images (audio and video are not yet implemented), should not be downloaded, when they are received via a message.

There has to be a "Download"-Button, to actually download them (and maybe some additional information about how many seeders).

Also, there should probably be something like a "Media"-tab, where the user can preview his own media-files, and maybe directly ins

[2017-04-11 10:33] AnthyG commented on #5
@Plasmmer could you upload it here?

[2017-04-11 10:38] AnthyG commented on #8
I included a link to the GitHub-Repository in the "About"-tab.
c9926e9c1a567cedb75a9205bc209cc3cf799028

[2017-04-11 10:39] AnthyG commented on #4
Isn't the message-design "speech-balloon"-enough? 😆

[2017-04-11 10:39] Plasmmer opened #11 "User can choose message format: balloon or "square""

[2017-04-11 10:41] #8 closed

[2017-04-11 10:41] Plasmmer commented on #5
![icon](https://cloud.githubusercontent.com/assets/6765277/24905369/2fc5f286-1e8a-11e7-9869-0551eedabddc.png)

[2017-04-11 10:46] Plasmmer commented on #4
I'm suggesting something like this concept I've made in 2014:
![communicator_app_by_daniellmesquito-daig3l1](https://cloud.githubusercontent.com/assets/6765277/24905567/cea0f536-1e8a-11e7-9f37-520ff1cd4c64.png)
You're authorized to use it in ThunderWave.

[2017-04-11 10:50] AnthyG commented on #5
Ui (astonished), that doesn't look bad!
But I don't think ThunderWave will support calls, so maybe without the phone, and in the primary-color (`#1DE9B6`)?
Though I have to admit, that would probably look quite empty 🤔

[2017-04-11 10:54] Plasmmer commented on #5
I think (#1DE9B6) will be a very bright color for a icon. Maybe ThunderWave can support calls in the future, but really for now this icon doesn't matter.

[2017-04-11 10:54] AnthyG commented on #4
So you just need that little extra arrow 💭 ?

(That shouldn't be that hard, I believe 🤔)

[2017-04-11 10:56] Plasmmer commented on #4
It can be done with just CSS.
You can use the ":after" selector.

[2017-04-11 10:56] AnthyG commented on #11
So "square" would be like it is now, and "balloon" like discussed in #4?

[2017-04-11 10:57] Plasmmer commented on #11
Yes.

[2017-04-11 11:05] Plasmmer commented on #5
Updated with a thunder/wave:
![icon](https://cloud.githubusercontent.com/assets/6765277/24906185/1479edea-1e8d-11e7-9e6b-602fa1f29123.png)

[2017-04-11 11:12] AnthyG commented on #4
![image](https://cloud.githubusercontent.com/assets/15957203/24906538/6230879e-1eb8-11e7-855b-04f22c5805ee.png)
![image](https://cloud.githubusercontent.com/assets/15957203/24906541/64ca1074-1eb8-11e7-95fb-07574827e2e3.png)

What would do you prefer (maybe both, to let the user decide?)?

[2017-04-11 11:15] Plasmmer commented on #4
The design from bottom is better. I don't think this is a great difference to user need to decide.

[2017-04-11 11:21] Plasmmer opened #13 "Say if is a photo or a GIF"

[2017-04-11 11:35] AnthyG commented on #4
Hmm, didn't check GitHub for 20minutes, so I just added both as options 😆
1fe352e0b6e63fb8a0d8fe858983f23fdf0d701c

[2017-04-11 11:35] #4 closed

[2017-04-11 11:36] AnthyG commented on #11
This has been implemented with 1fe352e0b6e63fb8a0d8fe858983f23fdf0d701c.

[2017-04-11 11:36] #11 closed

[2017-04-11 11:37] AnthyG commented on #3
This might be a bit hard, as almost every element would have to get styled dynamically, according to the colors the user selected. 😞

[2017-04-11 11:41] #1 closed

[2017-04-11 11:56] AnthyG commented on #7
It should be mobile-ready already, as [Spectre.css](https://picturepan2.github.io/spectre/) is a responsive framework!

[2017-04-11 11:56] #7 closed

[2017-04-11 12:00] AnthyG commented on #13
What do you mean by that, @Plasmmer?

[2017-04-11 15:16] AnthyG commented on #10
The following two commits have added this feature to ThunderWave! 🎉
f98814db9f3dd23f2ff5f5ba4c8734ad7f7093af
6c8625e610e9d9d897c99b649a452c15d0d26038

[2017-04-11 15:16] #10 closed

[2017-04-11 17:08] mkg20001 commented on #13
Probably a small "GIF" icon in the bottom right of the image

[2017-04-11 17:15] Plasmmer commented on #4
Can you make the "arrow at top" the default option?

[2017-04-11 17:15] Plasmmer commented on #11
Can you make the "arrow at top" the default option?

[2017-04-11 17:17] Plasmmer opened #14 "Swipeable left menu if mobile"

[2017-04-11 17:18] Plasmmer opened #15 "Show user avatar together ID in header"

[2017-04-11 17:19] Plasmmer commented on #13
Yes. User needs a discerniment of what image format he is going to download.

[2017-04-11 17:21] Plasmmer commented on #3
Yes. Like is registered the contents to the messages, it can register the user customization options.

[2017-04-11 17:21] Plasmmer opened #16 "If in mobile, remove ID and show only avatar in header"

[2017-04-11 17:22] Plasmmer opened #17 "Don't resize header mobile"

[2017-04-11 18:06] Plasmmer opened #18 "Can edit own messages"

[2017-04-11 18:07] Plasmmer opened #19 "Chat groups"

[2017-04-11 18:09] Plasmmer opened #20 "Emoticon images are failing"

[2017-04-11 18:13] AnthyG commented on #20
Could you please explain more :?

[2017-04-11 18:18] Plasmmer commented on #20
The images are marked as "not found". I think its a optional files issue.

[2017-04-11 18:24] AnthyG commented on #20
**ALL** Emoji's?
Because I'm sure, for others they work 🤔
Anything visiting [this URL](http://127.0.0.1:43110/1CWkZv7fQAKxTVjZVrLZ8VHcrN6YGGcdky/css/png/00a9.png)?

[2017-04-11 18:25] Plasmmer commented on #20
Visit it in a proxy.

[2017-04-11 18:34] AnthyG commented on #20
I've currently actually got the problem, that I don't see any Images 😞:thinking:

[2017-04-11 18:42] Plasmmer opened #21 "Can mute users"

[2017-04-11 18:43] Plasmmer opened #22 "Users list"

[2017-04-11 18:46] AnthyG commented on #13
Added with 907c33ed99bccb55a7b541946fac692e4d5e4b07

[2017-04-11 18:46] #13 closed

[2017-04-11 18:47] Plasmmer opened #23 "Get user avatar from ZeroMe"

[2017-04-11 18:47] Plasmmer commented on #23
@mkg20001, is it possible to achieve?

[2017-04-11 18:49] AnthyG commented on #18
Is this a feature one can implement into a normal chat-app?
I mean, it's a chat,.. I wouldn't be able to just delete a normal conversation with you, from mouth to ear 🤔
Right? 😀

[2017-04-11 18:54] Plasmmer commented on #18
I can't understand messages with no sense.

[2017-04-11 19:00] mkg20001 commented on #23
Yes, but one needs to download all the hubs and thunderwave needs a db

[2017-04-11 19:05] AnthyG commented on #19
This should follow #6 !

[2017-04-11 19:07] AnthyG commented on #23
ThunderWave has a DB, but how would I download *all* (or at least, all needed) hubs?
Before, I already checked some source code of ZeroMe, so I may be able to reproduce the needed result.. 🤔

[2017-04-11 19:08] Plasmmer commented on #19
You can create milestones in order to organize issues' priorities.

[2017-04-11 19:18] AnthyG commented on #18
Just ignore it 😆
(I meant, you can't delete anything you have said to anybode, face-to-face, but anyways 😄)

[2017-04-11 21:10] AnthyG commented on #20
I believe this issue is actually the fault of the proxies, that probably cache the files, which may take some time, as there are quite some png-files for all the emoji's.

I also tested ThunderWave on [bit.surf](https://bit.surf:43110/1CWkZv7fQAKxTVjZVrLZ8VHcrN6YGGcdky), where `js/all.js` doesn't seem to update!
So I am pretty certain, this is the fault of the proxies (at least that of bit.surf)..

[2017-04-11 21:20] Plasmmer commented on #20
@mkg20001, emojis images works for you?
Here isn't working since the begin, even locally.

[2017-04-11 21:29] AnthyG commented on #20
Ok, I seem to have forgotten to exclude the "css/png"-directory from being excluded in signing.
Now all files "css/png" have been signed, and it should work!

[2017-04-11 21:34] Plasmmer commented on #20
Wait. User need to download ALL emojis? No. Make them as optional files.
![emojis](https://cloud.githubusercontent.com/assets/6765277/24931895/77147a76-1ee5-11e7-8b15-7b3fd4c23e32.png)

[2017-04-11 21:35] Plasmmer opened #24 "Stickers"

[2017-04-11 21:35] Plasmmer opened #25 "Can disable emojis"

[2017-04-11 21:41] AnthyG commented on #20
OMG 😲
I didn't understand how to do it, till now!
But I did it! :tada:

😆

[2017-04-11 22:04] Plasmmer commented on #20
After "modified" line, add it to your content.json
` "optional": "({desiredfolder}/.*)",`

Change `{desiredfolder}` to the folder you want to make optional.

[2017-04-11 22:06] AnthyG commented on #20
Yeah, I know it now, but the directory was also included in the "ignore"-property, so it wouldn't sign..
But as everything seems ok now, I'll close this Issue.

[2017-04-11 22:06] #20 closed

[2017-04-11 22:13] AnthyG opened #26 "Problems with too big users data.json-File"
In the following image, there are 3 different accounts used, the big one on the left has quite a huge data.json-File already.
This seems to cause some problems in 'syncing' the file to the two other peers, as they can see each others messages!

I believe, this can be fixed through creating a Hub (or even several!) for ThunderWave, which would then contain all the data.

![image](https://cloud.gith

[2017-04-12 08:33] Plasmmer opened #27 "Yellow triangle "in development zite" message instead of red exclamation"

[2017-04-12 08:34] Plasmmer opened #28 "Themes feature: light or dark"

[2017-04-12 08:48] Plasmmer opened #29 "If emojis are disabled, delete all from storage"

[2017-04-12 10:10] AnthyG commented on #27
What's the name of that "yellow triangle"?

[2017-04-12 10:23] AnthyG commented on #29
I think it would be better, to have an option to disable emoji's, like suggested in #25, but then not delete them, when this option is selected, but actually provide another option to delete them.

[2017-04-12 10:28] AnthyG commented on #28
Somebody should (maybe I'll do it, when I'm finished with other things) fork [my fork](https://github.com/AnthyG/spectre-dark) of [Spectre.css](https://picturepan2.github.io/spectre/), and change the background-color back to default, like in the original.

[2017-04-12 10:43] Plasmmer commented on #27
It is an type of notification as alert.

- Green with V is successs;
- Yellow with triangle is alert;
- Red with exclamation is error.

[2017-04-12 11:12] AnthyG commented on #25
Option added with commit fcc4f8ee740acf7e78a2f3d59e7cb204ecaa76dd

[2017-04-12 11:12] #25 closed

[2017-04-12 11:15] AnthyG commented on #29
Somebody has to verify, that commit fcc4f8ee740acf7e78a2f3d59e7cb204ecaa76dd added the ability to delete all Emoji's.
The option is available in the "Settings"-Tab.

Please keep the console open, to verify that they actually have been deleted (there should be some messages, saying "deleted emoji at path ...").
Also, check the Zites `css/png`-Directory, to have a final verification!

[2017-04-12 11:24] AnthyG commented on #27
Hmm, actually I just checked [the Docs](http://zeronet.readthedocs.io/en/latest/site_development/zeroframe_api_reference/#wrappernotification-type-message-timeout), and it says that "type"-Property can only be one of the following `info`, `error`, or `done`.
Info being a blue-surrounded `i`.
So maybe I'll just take that?

[2017-04-12 11:28] AnthyG commented on #27
Fixed with 951624dc04efa5e2b89b7bd695aa26b6774af808.

[2017-04-12 11:28] #27 closed

[2017-04-12 11:30] AnthyG commented on #24
Somebody would have to create some Stickers, and provide some simple JavaScript-Module similar to [EmojiOne](https://emojione.com/).

[2017-04-12 12:11] AnthyG commented on #15
Somewhat added with commit 9bbf9e7649c4a740c7b02af3a062b301522ade2e

[2017-04-12 12:11] #15 closed

[2017-04-12 12:11] AnthyG commented on #16
Referring to #15

[2017-04-12 12:11] #16 closed

[2017-04-12 12:22] Plasmmer commented on #24
I can create the stickers. Regarding the module, you can create it by forking EmojiOne.

[2017-04-12 12:45] AnthyG opened #30 "Save scrolling-position, and don't scroll to bottom, if not at bottom"
When one scroll just a little bit up, and then maybe a new message arrives (or anything similar happens), the page gets automatically scroll to the bottom.

Expected behavior would be, that the page would stay at the current position, and the user gets notified that a new message has arrived, maybe through a badge on the scroll-to-bottom-button.

[2017-04-12 14:51] DaniellMesquita opened #31 "Add meta keywords"
I want to index ThunderWave in [Snifferdog](http://127.0.0.1:43110/snifferdog.bit/), but your site needs keywords.

[2017-04-12 14:55] Plasmmer opened #32 "Rename "Home" to "Lobby" tab"

[2017-04-12 14:55] Plasmmer opened #33 "[Github] "Next to work in" label"

[2017-04-12 15:09] Plasmmer opened #34 "[Future] Get friends from ZeroMe"

[2017-04-12 15:09] Plasmmer opened #35 "Friends system"

[2017-04-12 15:09] Plasmmer opened #36 "Notifications system"
Show these notifications on ZeroHello page and in a special tab.

[2017-04-12 15:09] Plasmmer opened #37 "Mention notification"

[2017-04-12 15:10] Plasmmer opened #38 "Can get notified for when a friend send a message in lobby"

[2017-04-12 15:16] AnthyG commented on #31
Could you explain more?
Do I just have to add the normal "meta"-Tag in `index.html`?

[2017-04-12 15:17] Plasmmer commented on #31
Add it, containing the keywords. Then tell me in the chat the keywords used.

[2017-04-12 15:17] AnthyG commented on #32
I'll do this, once group/ private chats are finished.
#19, #6

[2017-04-12 15:19] AnthyG commented on #31
👌

[2017-04-12 15:27] AnthyG commented on #31
The keywords are `beautiful` `chat` `thunder` `wave` `thunderwave`
I don't have any more ideas :laughing:

[2017-04-12 15:31] AnthyG commented on #33
Added "Next mission"-Label.

[2017-04-12 15:31] #33 closed

[2017-04-12 15:32] Plasmmer commented on #33
Wich will be the next issue?

[2017-04-12 15:32] AnthyG commented on #31
Also added them to `index.html` with 58b92a2266fb471d8efd15460e903e8cb6d116dd and 128ceee3f5524d1824cbe0b15e09e542f7d8a07c.

[2017-04-12 15:34] AnthyG commented on #35
Is this a separate topic from #34, meaning that there should be a friends-system in general?

[2017-04-12 15:34] AnthyG commented on #36
What's the "special tab"?

[2017-04-12 15:35] AnthyG commented on #37
Isn't #36 exactly the same issue?

[2017-04-12 15:36] Plasmmer commented on #36
"special tab" I mean't a tab in TW.

[2017-04-12 15:36] AnthyG commented on #38
This will need a friends-system: #34, #35.

[2017-04-12 15:37] AnthyG commented on #29
@Plasmmer, could you verify, that this works?

[2017-04-12 15:37] Plasmmer commented on #37
This is part of the notifications system, then you do it after.

[2017-04-12 15:38] Plasmmer commented on #35
It is a friend system for now. Only in future the list of ZeroMe will be introduced in this system.

[2017-04-12 15:39] AnthyG commented on #31
Ah, I have another keyword: `social`

[2017-04-12 15:40] AnthyG commented on #36
Where all Notifications are listed too?

[2017-04-12 15:40] Plasmmer commented on #31
Please update it in your html.

[2017-04-12 15:40] Plasmmer opened #39 "Emojis button"

[2017-04-12 15:41] Plasmmer commented on #36
Not, only notifications of ThunderWave, the same that will appear in ZeroHello.

[2017-04-12 15:42] AnthyG commented on #31
Is done. 9c3cb445c98e86cc520a6d96d11b74bb61502e1b

[2017-04-12 15:44] AnthyG commented on #36
I meant all notifications of ThunderWave 😄

[2017-04-12 15:44] AnthyG commented on #39
Just a button next to the message-input or what 🤔

[2017-04-12 15:45] Plasmmer commented on #36
Yes, all notifications. But you can do a tab system to separate notifications.

[2017-04-12 15:45] Plasmmer opened #40 "Tab system in Notifications"
Separate notifications by category:

- [ ] Friend message in Lobby
- [ ] Mention

[2017-04-12 15:46] Plasmmer commented on #39
To access all emojis.

[2017-04-12 15:49] AnthyG commented on #39
You may access all Emoji's on the official site by EmojiOne, [EmojiCodes](https://emoji.codes/).

[2017-04-12 15:49] AnthyG commented on #36
Reference #40.

[2017-04-12 15:50] Plasmmer commented on #39
I mean for user access all emojis he can use!

[2017-04-12 15:52] AnthyG commented on #39
The Emoji's on EmojiCodes are all Emoji's a user can use!

I can add this, but not now.

[2017-04-12 16:00] Plasmmer commented on #39
But I'm talking about a button where user can intuitively click to show all emojis like Messenger/Skype/Hangouts and a lot chats does!

[2017-04-12 16:06] AnthyG commented on #22
I will rather create a "last seen"-List, as in a network like ZeroNet, it's, as far as I am aware of, not possible (yet) to list all users that are currently online!

[2017-04-12 16:09] AnthyG commented on #39
Yes!, I know, but I want to finish more important things, before I'm gone for 3 months..!

[2017-04-12 16:12] Plasmmer commented on #22
Yes, it can flood the network. Sorry for my mistake.

[2017-04-12 16:57] AnthyG commented on #22
Added "last-seen-List"-Feature with commit 71fe1b1d0481c2e9ee06dbb1e855d668ece1ec56

[2017-04-12 16:57] #22 closed

[2017-04-12 17:09] AnthyG commented on #18
I believe, one actually can neither edit a message, nor delete it (at least it wont be visible for others..)!

As of now, ZeroNet reads all users `data.json`-Files into a Database, which does only add *new* entries automatically, but not updates edited/ deleted entries.
Each user can rebuild their own local Database, but as there is no API-thingy yet, to achieve this somebody would actually have t

[2017-04-12 17:11] AnthyG commented on #2
Please read [Issue #18, #issuecomment-293645588](https://github.com/AnthyG/ThunderWave/issues/18#issuecomment-293645588) for further information on this issue.

[2017-04-12 17:33] AnthyG commented on #36
Here's some compiled code from https://github.com/HelloZeroNet/ZeroMe/blob/master/js/Head.coffee#L54
[code]

[2017-04-12 17:44] Plasmmer opened #42 "Can increase emoji's size (like a sticker)"

[2017-04-12 17:47] Plasmmer commented on #29
The files aren't removed.

![screenshot_2](https://cloud.githubusercontent.com/assets/6765277/24971588/d980e56a-1f8e-11e7-8180-2f57f39cdbd0.png)

[2017-04-12 17:48] Plasmmer commented on #29
Also, I suggest to show a confirmation notification saying the number of emojis deleted.

[2017-04-12 17:55] AnthyG commented on #29
Could you try again @Plasmmer?
(You'll have to reset the options once again!)
Please also check the developers console of your browser for this message `deleted emoji at path ...`.

[2017-04-12 17:57] Plasmmer commented on #29
I received this message, but they are not deleted.

[2017-04-12 18:03] AnthyG commented on #29
🤔 I can't delete them, as I am the only one, who has all emoji's, but I can show which would get deleted:
![image](https://cloud.githubusercontent.com/assets/15957203/24972212/de7e9284-1fba-11e7-8262-cac7f97664ce.png)

So I am a little bit confused why this won't work 🤔

[2017-04-12 18:12] Plasmmer opened #43 "Option: can download all emojis"

[2017-04-12 18:13] AnthyG commented on #29
@Plasmmer, did you activate (the switch has to be colored) the option "Disable loading of Emoji's"?
![image](https://cloud.githubusercontent.com/assets/15957203/24972640/640da308-1fbc-11e7-901d-bb2cfa65ad32.png)

[2017-04-12 18:18] Plasmmer commented on #29
Activated.

[2017-04-12 18:25] AnthyG commented on #29
Did you retry, after resetting to default?

[2017-04-12 18:41] AnthyG commented on #43
Option added with commit 5a38381c1b6c63dff24b719857fcccc27b11242c

[2017-04-12 18:41] #43 closed

[2017-04-12 18:43] AnthyG commented on #29
@Plasmmer, does the function of deleting an optional media file, work for you?

[2017-04-12 18:44] Plasmmer commented on #43
I'll download all emojis in proxies, so you will not anymore be the only man with all emojis ;)

[2017-04-12 18:46] Plasmmer opened #44 "Hide "Media"-Tab for non-logged users"

[2017-04-12 18:46] Plasmmer opened #45 "Hide "Settings"-Tab for non-logged users"

[2017-04-12 18:56] AnthyG opened #46 "Hide "Last seen"-Tab for non-logged users"

[2017-04-12 19:05] AnthyG commented on #44
Fixed with 0f87656906dbc1d7a77aa68222069fbac5ec8490

[2017-04-12 19:05] #44 closed

[2017-04-12 19:05] AnthyG commented on #45
Fixed with 0f87656906dbc1d7a77aa68222069fbac5ec8490

[2017-04-12 19:05] #45 closed

[2017-04-12 19:05] AnthyG commented on #46
Fixed with 0f87656906dbc1d7a77aa68222069fbac5ec8490

[2017-04-12 19:05] #46 closed

[2017-04-12 19:08] Plasmmer opened #47 "Can change avatar photo"

[2017-04-12 19:12] AnthyG commented on #47
Reference to #23

[2017-04-12 19:14] Plasmmer commented on #47
I'm suggesting a feature for now, while we can't get avatars from ZeroMe.

[2017-04-12 19:14] AnthyG commented on #47
As good as done 🎉

[2017-04-12 19:32] AnthyG commented on #47
... Apparently I'm to slow, and have to research a little bit, as I want the image to be cropped.. 😅

[2017-04-12 19:36] Plasmmer commented on #47
Its better to prompt user to crop his own image.

[2017-04-12 20:16] AnthyG commented on #23
Just found this link: http://127.0.0.1:43110/1oranGeS2xsKZ4jVsu9SVttzgkYXu4k9v/data/users/14K7EydgyeP84L1NKaAHBZTPQCev8BbqCy/avatar.jpg?1492026832
Hint: *It shows my avatar, saved in OrangeHub!*

[This is a link](https://github.com/HelloZeroNet/ZeroMe/blob/master/js/User.coffee#L67) to the function, which returns the link for the avatar in ZeroMe, and the following is the compiled version of it:
[

[2017-04-12 20:18] AnthyG commented on #47
Check out issue [#23](https://github.com/AnthyG/ThunderWave/issues/23#issuecomment-293694621) for some news!

[2017-04-12 20:23] Plasmmer commented on #47
Please see my messages in the chat.

[2017-04-12 20:29] AnthyG commented on #47
I have :smiley:

[2017-04-12 20:30] Plasmmer commented on #47
?

[2017-04-12 20:31] AnthyG commented on #47
What do I have to do?

[2017-04-12 20:32] Plasmmer commented on #47
Please reply me in the chat.

[2017-04-12 20:34] AnthyG commented on #47
I did?!

[2017-04-12 20:43] Plasmmer commented on #47
I can't receive your messages, from both proxy and local.

[2017-04-12 20:45] AnthyG commented on #47
What!?
Wow.
I hope #26 isn't true 😢

[2017-04-12 20:50] AnthyG commented on #47
I deleted some messages in my `data.json`, are you now able to see my messages 🤔

[2017-04-12 20:51] Plasmmer commented on #47
No. Try removing the domain from content.json (the domain isn't yet propagated in DNS).

[2017-04-12 20:52] Plasmmer commented on #47
Oh, now the domain is propagated.

[2017-04-12 20:54] AnthyG commented on #47
And are you able to see my messages?

[2017-04-12 20:58] Plasmmer commented on #47
No.

[2017-04-12 20:59] AnthyG commented on #47
That is very disturbing >:/

[2017-04-12 21:02] Plasmmer commented on #47
Also locally, isn't working.

[2017-04-12 21:03] AnthyG opened #48 "Some weird bug, for which there is no explanation yet"
You know it.

[2017-04-12 21:04] AnthyG commented on #47
We should maybe open up a new issue on this 😆

# #48

[2017-04-12 21:04] AnthyG commented on #48
Reference to #26

[2017-04-12 21:05] Plasmmer commented on #48
Add "bug" label, please.

[2017-04-12 21:57] AnthyG commented on #48
Maybe a Clientside-Database-rebuild helps?

[2017-04-12 22:01] Plasmmer commented on #48
Now I can see the messages. No action was required.

[2017-04-12 22:07] AnthyG commented on #48
Another user also reported this, so this is truly a "weird bug"..

[2017-04-13 08:30] AnthyG opened #49 "Speed-Optimizations"
ThunderWave is pretty slow in comparison to other big social Zites on ZeroNet.
Here's a list of improvements:
 - [ ] partial loading of messages

... yeah, it's not really long at the moment... 😅

[2017-04-13 09:21] AnthyG commented on #49
Fixed reloading of all messages when receiving a message from another peer with 39b926170595441ebf58c0a09c399be1de9eee24

[2017-04-13 09:28] Plasmmer opened #50 "Play button for GIFs"
This is opt-out to the user.

[2017-04-13 09:28] Plasmmer opened #51 "Support USV mutedloops"

[2017-04-13 11:09] AnthyG commented on #49
With commit 7cacb78c18899ef5247f5506d2e5773e978baa65, I've added partial loading of messages!

If there's anything else that could be optimized, let me know 😃

[2017-04-13 11:23] AnthyG commented on #50
This *is* possible, but for the sake of looking good, there would also need to be something like a cover-image, which would be just one frame from the gif-File.

[Link 1](http://stackoverflow.com/questions/40947921/adding-a-play-pause-button-on-an-animated-gif-without-being-taken-to-the-url-of), [Link 2](http://stackoverflow.com/questions/4645274/extracting-single-frames-from-an-animated-gif-to-ca

[2017-04-13 12:17] AnthyG commented on #50
Added with commit f65712ba8a9d0df3d18983c47d577962aa5f4a60

[2017-04-13 12:17] #50 closed

[2017-04-13 15:04] AnthyG commented on #35
Should this more be like a "follow"-system, where every user can follow any other, or a "friends"-system in terms of a user sends another one a friend request, which has to be accepted to be friends?

[2017-04-13 15:28] AnthyG commented on #23
So we just need a function that gets the user's hub (and that of every other user who has sent a message on ThunderWave..)

[2017-04-13 18:30] Plasmmer commented on #35
Friend system is very better in a chat.

[2017-04-13 18:31] AnthyG commented on #30
Fixed with 7cacb78c18899ef5247f5506d2e5773e978baa65

[2017-04-13 18:31] #30 closed

[2017-04-13 19:07] AnthyG commented on #35
👌🆗 , I believe it shouldn't be that hard to (if there will be a way of actually getting it) query ZeroMe's DB for matches..

[2017-04-14 13:31] AnthyG commented on #6
It seems, that there's currently no way to directly connect to another peer, thus, the 2nd item in the list will have to be abandoned,.. at least for now.

[2017-04-14 13:34] Plasmmer commented on #6
@mkg20001

[2017-04-14 13:45] mkg20001 commented on #6
There is a function that one can use to encrypt/decrypt stuff with the key.
https://zeronet.readthedocs.io/en/latest/site_development/zeroframe_api_reference/?highlight=eciesEncrypt

[2017-04-14 13:51] AnthyG commented on #6
I know 😄

[2017-04-14 15:29] AnthyG commented on #6
I've got the private chat working,.. basically..

The only problem I'm encountering right now, is that the sender can't read his own messages, as they are encrypted with the public key of the recipient, who is the only one who can read the messages sent to him, as he is the only one, who has his own private key.

So I could save all the messages sent, into another file, which doesn't get seeded, a

[2017-04-14 17:05] mkg20001 commented on #6
Why not encrypt them twice. With your own and the receivers public key?

[2017-04-14 19:41] AnthyG commented on #6
@mkg20001 what exactly do you mean with password-protecting the chat? Which chat?

[2017-04-14 19:51] AnthyG commented on #6
The idea with encrypting twice is pretty good!
I'm trying it right now :)

[2017-04-14 20:55] AnthyG commented on #6
Created branch [private_chats-Feature](https://github.com/AnthyG/ThunderWave/tree/private_chats-Feature)

[2017-04-14 21:17] AnthyG commented on #6
# It works!
Though I couldn't get the double-encryption working, that @mkg20001 suggested 😞
And I tried getting it to work for about 1hour now, so I will rethink it another time, but my brain is just to cluttered to get anything else working..

The two commits:
e32cbec2a9f3261c3860554fdd85e524d7b4cfb9, 3ec8b701ebce350233ec1dd6c596df4c59565ae4

Here's a preview:
(Note, I haven't yet added input's,

[2017-04-14 21:52] Plasmmer opened #52 "ThunderWave domain in repo link"

[2017-04-14 21:58] AnthyG commented on #52
Done.

[2017-04-14 21:58] #52 closed

[2017-04-14 21:58] Plasmmer opened #53 "Context menus"

[2017-04-15 09:33] AnthyG commented on #6
I just tried several tests, and the IV and AES-Key (that are the same: `btoa(recipient)` (base64)) are actually just too short...................
# WOW

[2017-04-15 11:22] AnthyG opened #54 "Code-Comments"
I really need to add code-comments.
Like, .. *really*.

[2017-04-15 12:55] AnthyG commented on #6
Added working user-selection tabs and message-input for private chat with a924ff4a0c651f2d0e2db2be7006b0df1d5f5eac.

*But I won't guarantee anything for now..*

[2017-04-15 16:30] AnthyG commented on #6
Commit b578b6b797313f777047361eb98d0a11b7b84c16 added the ability to click a users public key, listed in the "Last seen"-Tab, to open up a private chat with said user.

[2017-04-17 09:55] AnthyG commented on #47
I will reopen this issue, as I am currently not really able to manage getting a avatar from ZeroMe as suggested in #23

[2017-04-17 12:09] AnthyG commented on #47
Somewhat added with commit 7714e53e892eb97f5088b6f77b6c91d211084903

[2017-04-17 12:09] AnthyG commented on #23
Somewhat added with commit 7714e53e892eb97f5088b6f77b6c91d211084903

[2017-04-17 21:04] Plasmmer commented on #53
For example, when rightclick in a username, shows options to block, add friend or enter in a private message.

[2017-06-23 18:55] AnthyG opened #55 "Search/ Filter-function"
These two features should search/ filter through the chat, starting from the newest message, and ending with the oldest.

There could be something like a cache, in which the search-query/ filter is saved alongside all the keys in the DB, that match it.

The search should probably be regex-enabled, and every space-seperated text entered, will narrow down the searches results.
Each filter widens the

[2017-06-23 19:09] AnthyG opened #56 "Citation of messages (answer/ reply)"
For this, there could be some really weird markdown-like code, which would include a DB-reference to a specific messages property (I dunno to which , as the indices are not the same over multiple users, as far as I noticed 🤔😟, so for this to work, probably a new property has to be created..).

In general, an answer-message could then contain an part (or the complete) message, and a way to jump the

[2017-07-13 23:38] Plasmmer opened #57 "Use ZeroCDN"

[2017-07-13 23:38] Plasmmer opened #58 "jQuery for smooth animation on click in the arrow button"

[2017-07-13 23:38] DaniellMesquita opened #59 "Material Design icon font"

[2017-07-13 23:39] Plasmmer opened #60 ""Press Enter to send the message" input button"

[2017-07-14 08:02] AnthyG commented on #60
What exactly do you mean with this?

[2017-07-14 08:11] AnthyG commented on #59
I don't really know, why I should include Font Awesome, I mean, aren't Emoji's enough?

[2017-07-14 17:49] Plasmmer commented on #59
For the UI buttons, like ZeroMe Reloaded and Peeper does.

[2017-07-14 17:50] Plasmmer commented on #60
User have option to use enter to create a new line or to use enter to post the message. In this last case, user can use the shift+enter to create a new line. In the first case, user can use the post button.

[2017-07-14 19:08] AnthyG commented on #60
The "last case" (enter to send, shift+enter to line-break) is the current way I implemented it.

What I am asking now is, do you mean that there should be an option to toggle the behavior?

[2017-07-14 19:28] AnthyG opened #61 "Media Upload doesn't work properly anymore"
Pretty much don't know anything about this yet, so I will just leave it like this for now..

[2017-07-15 16:30] AnthyG commented on #59
I'd rather use Google's Material Design Icon Font, just FYI

[2017-07-15 19:08] Plasmmer commented on #59
Good.

[2017-07-20 21:10] AnthyG commented on #32
So,.... apparently, I already changed it in the ["private_chats-Feature"-Branch](https://github.com/AnthyG/ThunderWave/blob/private_chats-Feature/index.html#L36).

[2017-07-20 21:10] #32 closed

[2017-07-20 21:12] AnthyG commented on #23
Next up for this is to add two options in the Settings-Page:
1. Upload Avatar (for ThunderWave image-source)
2. Set File URL (for external image-source)

[2017-07-20 21:19] AnthyG commented on #47
For updates on this, please see https://github.com/AnthyG/ThunderWave/issues/23#issuecomment-316831488

[2017-07-21 01:54] Plasmmer commented on #23
Would be better also getting it automatically from ZeroMe as default avatar, and the upload/URL as option.

[2017-07-21 19:56] AnthyG commented on #23
Getting the Avatars automatically, would require to know, in which Hub the user is,.. I'm not sure, if I can do that, without loading all the hubs.

[2017-07-21 21:34] Plasmmer commented on #23
I'll think about it.
And about the thunderwave.bit domain, just send me your namecoin address.

[2017-07-22 07:04] mkg20001 commented on #23
The hub of the user can be found in the user DB. The URL should be 1UDB...

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-22 10:28] AnthyG commented on #23
@mkg20001 Are *all* Users saved in there?
It seems to be a _huge_ data-dir (~6.1MB)

[2017-07-22 10:31] mkg20001 commented on #23
1UDbADib99KE9d3qZ87NqJF2QLTHmMkoV has 79mb
Every user using ZeroMe seeds it.
The hub can be found in 1UDb/data/userdb/1UserID/content.json in the user.hub field

[2017-07-22 10:32] AnthyG commented on #23
Yeah, see that 👍

[2017-07-22 10:32] AnthyG commented on #23
Well that's easy then 😆

[2017-07-22 11:11] Plasmmer commented on #23
@mkg20001 @AnthyG you are great. Thanks for this.
Will be very nice to have ThunderWave getting the avatar automatically, without need to user upload it.

[2017-07-22 13:11] AnthyG commented on #23
You can't believe, how hard it is for me, to wrap my head around the really easy `if this, then that`-method for this 😅 (It took me so long to create the original one, and now I have to rewrite it completely :/)

[2017-07-22 14:09] AnthyG commented on #23
Ok, I believe I have covered all cases now.
Please read through the following, and maybe try and check if it is correct/ if anything is missing.

So e.g.:
User 1 (_u1_) views User 2 (_u2_)

---

_u1_ can decide on a range from 0 - 3:
- 0 = Try to get from ThunderWave, or ZeroMe, or generate
- 1 = Try to get from ThunderWave, or generate
- 2 = Try to get from ZeroMe, or generate
- 3 = generate

_u2

[2017-07-22 14:43] AnthyG commented on #23
I'm considering this as closed with commit 050baacbba2b4f967cce028528b45019db6c0a3b.

[2017-07-22 14:43] #23 closed

[2017-07-22 14:43] AnthyG commented on #47
And once again, for updates on this, please see https://github.com/AnthyG/ThunderWave/issues/23#issuecomment-317186086

[2017-07-22 22:37] AnthyG commented on #36
What do you think?
![image](https://user-images.githubusercontent.com/15957203/28494968-e72e7966-6f3e-11e7-8120-90ab1e7ea60b.png)

I believe I have to use more specific syntax', like shown in the previous comment though, but it's a start 👍 ..

[2017-07-26 10:25] AnthyG opened #62 "Very laggy log in"
Currently, there is a bug, where the login-process will take forever (if the user is already logged in).
This also prevents from writing messages!

[2017-07-26 10:52] Plasmmer commented on #36
Amazing.
ZeroNet needs a API to show the site favicon and a notification image.

[2017-07-26 12:56] AnthyG commented on #36
@Plasmmer, that's a good Idea, but I'm not sure, if it's so secure..
ZeroHello doesn't parse Markdown either, probably because of security.

[2017-07-26 21:30] AnthyG commented on #62
I did some testing, and finally found "the solution": I had to re-enable the updating of data.extra_data.last_seen, for reasons unknown to me (for now, at least).

[2017-07-26 21:30] #62 closed

[2017-07-26 21:31] AnthyG commented on #61
It's because I messed up with the HTML-elements, so should be easy to fix.

[2017-07-26 23:35] Plasmmer commented on #36
What are the risks of showing the favicon of the site, like the title is shown?

[2017-07-27 09:22] AnthyG commented on #36
A virus/ malware/ whatever

I know, that it's just really paranoid of me, but just as a thought.

[2017-07-27 09:40] AnthyG commented on #36
Maybe, to exclude users messages from showing up in the Feed, there could be some item in the context menu (#53), to do so.

[2017-07-27 09:43] AnthyG commented on #53
"block" probably being "mute"?

Also these will probably get in there:
- Show/ Hide in feed (follow-function)

And for specific messages maybe:
- Answer

[2017-07-27 12:05] Plasmmer commented on #53
Angular Material supports menus that opens when click.

[2017-07-27 12:33] Plasmmer commented on #49
For me, ThunderWave shows that have 3 missing files. Please fix it.

[2017-07-27 12:33] Plasmmer commented on #49
I think you can close this issue right now. Users with some issues can simply open a issue here.

[2017-07-27 12:33] Plasmmer opened #63 "ThunderWave shows that have 3 missing files"

[2017-07-27 12:35] Plasmmer commented on #38
I think is better the Friends milestone, since the notifications will be ready sooner.

[2017-07-27 12:35] Plasmmer commented on #54
It will make development better to understand for you and contributors. Good :D

[2017-07-27 12:36] Plasmmer commented on #26
You can make messages as optional files, and users can seed messages.

[2017-07-27 12:37] Plasmmer commented on #2
@AnthyG, do you think now its possible?

[2017-07-27 12:39] Plasmmer opened #64 "AngularJS+Material Design"
https://angularjs.org
https://material.angularjs.org/

[2017-07-27 12:39] DaniellMesquita opened #65 "ThunderWave's ZeroNet site"

[2017-07-27 12:40] Plasmmer opened #66 "ThunderWave's ZeroNet site"

[2017-07-27 12:40] DaniellMesquita opened #67 "Chat in thunderwave.bit/app"

[2017-07-27 12:40] Plasmmer opened #68 "Accept cryptoid.bit login"

[2017-07-27 12:41] Plasmmer opened #69 "Remove zeroverse.bit since it is deprecated"

[2017-07-27 12:44] Plasmmer opened #70 "Divide settings in categories"

[2017-07-27 13:03] AnthyG commented on #63
Some images that have been deleted/ never really seeded.

Can't really do anything about this, AFAIK.

[2017-07-27 13:04] AnthyG commented on #65
What web-page?

[2017-07-27 13:05] AnthyG commented on #66
Explain in more detail 😆

[2017-07-27 13:06] AnthyG commented on #69
People still _have_ identities zeroverse.bit.
So, I won't remove it just yet.

[2017-07-27 13:15] AnthyG commented on #64
The material version of it looks very good!
*But*, I know that I'm really bad in changing the CSS-framework. And in addition to that, AngularJS is not only a CSS, but also JS, which makes it probably even harder to change, as Spectre.css only is.. CSS.

So if you want this, maybe you could create a fork, and try and get it working?
Or maybe just try and extract all the elements from Spectre.css, T

[2017-07-27 13:17] Plasmmer commented on #64
If you make me sure you will accept it in Material Design, with a lot of pleasure I'll do a pull request.

[2017-07-27 13:18] AnthyG commented on #64
Yes, Material Design is 😍

[2017-07-27 13:23] AnthyG commented on #68
Added with commit 553b9e0efeb172469d8c8b16d31de6037cfb321d

[2017-07-27 13:23] #68 closed

[2017-07-27 13:25] AnthyG commented on #49
Naah, this is actually for me, because I _want_ to make ThunderWave quicker.
Especially in terms of code-optimization.

[2017-07-27 13:26] AnthyG commented on #53
I actually wanted to use the `Menu.coffee` from ZeroBlog.
It's quite good IMO.
But we will see 😆

[2017-07-27 13:30] AnthyG commented on #26
I'm not sure, if that's such a good idea.
But the other way, maybe this could be good for blocking users.
The user would simply not have the blocked-users messages on his disk.
And if a user is blocked by everybody, he'll most-likely be a spammer or similar 😈

This would probably require a reformatting of the Database/ `data.json`-File, meaning, I would probably have to override _**all**_ the mess

[2017-07-27 13:34] Plasmmer commented on #68
Thanks.

[2017-07-27 13:36] Plasmmer commented on #26
Not. Attackers will discover it and create a lot of accounts to ban a user. I'll create a new issue about it.

[2017-07-27 13:36] Plasmmer commented on #26
Even blocking spammers, ThunderWave will have a lot of messages, so seeding is needed.

[2017-07-27 13:37] Plasmmer opened #71 "Verified users system and badge"
As inspiration, use the content.json of ZeroTalk as reference, look at the sticky topics and his badge.

[2017-07-27 13:38] Plasmmer commented on #26
#71 will be needed in order to ban a user based on votes of VERIFIED users. But I say again, it will not solve disk space issues.

[2017-07-27 13:38] Plasmmer opened #72 "Ban a user based on votes of verified users"

[2017-07-27 13:38] Plasmmer opened #73 "Can report a user for specific reason"

[2017-07-27 13:39] Plasmmer opened #74 "Offer Open Badges"

[2017-07-27 13:39] Plasmmer opened #75 "User profile page"

[2017-07-27 13:39] Plasmmer opened #76 "Open Badges in user profile page"

[2017-07-27 13:52] Plasmmer commented on #65
Infos about ThunderWave, access-app button and a donation page.

[2017-07-27 13:54] Plasmmer commented on #65
You can take it as example: https://world-wd.github.io/YouMedia/

[2017-07-27 14:14] AnthyG commented on #65
So something like the Front-Page.. 🤔

[2017-07-27 14:16] AnthyG commented on #73
Reference to #71

[2017-07-27 14:18] AnthyG commented on #75
I don't know..
ThunderWave isn't the next ZeroMe, at least not in my head.
I mean, I could probably also just fetch the stuff from a users ZeroMe-Account, but I think, I should merge ZeroMe with ThunderWave..
Because it would require a lot of data.

[2017-07-27 14:43] Plasmmer commented on #75
I'm talking about simple stuff like Whatsapp does, like:
- [ ] Username
- [ ] User photo
- [ ] Last login
- [ ] Friends
- [ ] Status phrase

[2017-07-27 14:46] Plasmmer commented on #66
Duplicate of: #65.

[2017-07-27 14:46] #66 closed

[2017-07-27 14:47] DaniellMesquita opened #77 "[Front Page] If logged, automatically redirects to thunderwave.bit/app"

[2017-07-27 14:47] Plasmmer commented on #65
- [ ] Front Page
- [ ] Move chat to /chat folder

[2017-07-27 14:48] Plasmmer commented on #65
Reference: #77.

[2017-07-27 14:51] Plasmmer commented on #64
I can't to it today, but tomorrow I'll start the port.

[2017-07-27 14:58] AnthyG commented on #36
Finally got this working!
[code]

And now I know how to remove stuff as well:
[code]

[2017-07-27 15:00] Plasmmer commented on #36
Please reference this issue in the commit.

[2017-07-27 15:00] Plasmmer commented on #36
You can close this issue by using "fix #36" in the commit title.

[2017-07-27 15:03] AnthyG commented on #36
I didn't yet implement it in ThunderWave.
I have to experiment a little bit with the possibilities on this, so I can correctly add it to the context menu #53

[2017-07-27 15:08] Plasmmer commented on #64
- [ ] AngularJS
- [ ] Material Design tags
- [ ] Buttons
- [ ] Selects
- [ ] User photo dropdown
- [ ] Switchs
- [ ] Tab menus

[2017-07-27 15:10] Plasmmer commented on #75
Also:
- [ ] Show Open Badges earned in ThunderWave
Reference: #74.

[2017-07-27 15:11] Plasmmer opened #78 "Quote message button"

[2017-07-27 15:11] Plasmmer opened #79 "Can send stickers"

[2017-07-27 15:12] Plasmmer opened #80 "Support .svg images"

[2017-07-27 15:12] Plasmmer commented on #80
It can be a security risk, as I know.

[2017-07-27 15:14] Plasmmer opened #81 "[Future] Can send files, by using UltraUpload"

[2017-07-27 15:14] Plasmmer opened #82 "Sounds"

[2017-07-27 15:15] Plasmmer opened #83 "Show users that are typing a message"

[2017-07-27 15:15] Plasmmer opened #84 "Show users that readed the message"

[2017-07-27 15:16] Plasmmer opened #85 "Private chats: show if other user had readed"

[2017-07-27 15:17] Plasmmer commented on #64
Also:
- [ ] Material Design font
Reference: #59.

[2017-07-27 15:17] Plasmmer commented on #64
Reference: #65.

[2017-07-27 15:19] Plasmmer commented on #61
You can add it to a priority milestone.

[2017-07-27 15:19] Plasmmer commented on #59
You can tag it as "help wanted".

[2017-07-27 15:20] Plasmmer commented on #64
Please assign me to it.

[2017-07-27 15:20] Plasmmer commented on #59
Please assign me to it.

[2017-07-27 15:25] Plasmmer commented on #53
Other good context menu item:
Open private chat.

[2017-07-27 15:26] Plasmmer commented on #53
Lets create a task list?

[2017-07-27 15:27] AnthyG commented on #78
Isn't this the same as issue #56 ⁉️

[2017-07-27 15:34] Plasmmer commented on #78
Yes. Sorry.

[2017-07-27 15:34] #78 closed

[2017-07-27 15:34] Plasmmer commented on #78
You can tag it with the label "duplicate".

[2017-07-27 15:35] DaniellMesquita opened #86 "Better mobile display"

[2017-07-27 15:35] Plasmmer commented on #86
Please tag it as "help wanted" and assign me.

[2017-07-27 15:37] Plasmmer opened #87 "[Future] Private chat games"

[2017-07-27 15:37] Plasmmer opened #88 "[Future] Games in rooms"

[2017-07-27 15:40] Plasmmer opened #89 "[Future] Notifications about private chats"

[2017-07-27 15:43] Plasmmer opened #90 "Scrolling based on reading"
Hey, the scroll is going to top of our message when I reload it. It needs to detect that I already readed the messages, and scroll to the unread part.

[2017-07-27 15:43] Plasmmer commented on #90
Reference: #84, #85.

[2017-07-27 16:05] AnthyG commented on #36
Some other experiments:
[code]

And without excluding own messages:
[code]

[2017-07-27 16:07] AnthyG commented on #37
See issue https://github.com/AnthyG/ThunderWave/issues/36#issuecomment-318408393 for an update on this

[2017-07-27 16:14] AnthyG commented on #79
Isn't this the same as issue #24?

[2017-07-27 16:16] AnthyG commented on #80
At the base, I do have some Javascript-libraries for "supporting" svg.
But you probably mean, "upload" svg's?

If so, I first have to fix #61.

[2017-07-27 16:16] AnthyG commented on #81
What is UltraUpload?

[2017-07-27 16:20] #37 closed

[2017-07-27 16:22] AnthyG commented on #83
Is this a good idea in the Lobby?
Because if ThunderWave gets even more users, and then a lot type in the Lobby, this might be to crowded..
Or there could be something like "Glightstar, Plasmmer, and x others are typing..."

[2017-07-27 16:24] AnthyG commented on #84
I'm not sure, if this is a good idea for the Lobby, if there are too many users..

[2017-07-27 16:29] AnthyG commented on #89
This can only notify about new private messages in general.
But as the private messages are completely encrypted (message, AND sent time _AND_ to who it is sent), you can't know, if it is sent to you!

[2017-07-27 16:30] AnthyG commented on #90
Isn't this only the case for private messaging?

[2017-07-27 16:32] AnthyG commented on #86
@Plasmmer because of AngularJS?

[2017-07-27 16:32] AnthyG commented on #87
You mean some kind of bot like Telegram?

[2017-07-27 16:32] AnthyG commented on #88
Reference to #87

[2017-07-27 16:38] Plasmmer commented on #79
Yes.

[2017-07-27 16:38] #79 closed

[2017-07-27 16:41] Plasmmer commented on #83
Yes.

[2017-07-27 16:41] Plasmmer commented on #86
With Angular or not, ThunderWave isn't working well in mobile.

[2017-07-27 16:42] Plasmmer commented on #81
UltraUpload is my project of cloud drive for ZeroNet.

[2017-07-27 16:43] Plasmmer commented on #84
You can specify the max users number of the Lobby.
Also, room owners can specify it for his rooms.

[2017-07-27 16:44] Plasmmer commented on #90
I think yes.

[2017-07-27 16:45] Plasmmer commented on #89
Because it a set the "Future" tag. You can create a label for issues of this type.

[2017-07-27 16:45] Plasmmer commented on #87
Not, but games. Like Windows Live Messenger.

[2017-07-27 16:46] Plasmmer opened #91 "[Future] Chatbots"

[2017-07-27 16:51] AnthyG commented on #83
After a second though, this is actually quite hard to achieve in ZeroNet..
Because it would require that the user signs and publishes after each time setting `is_typing` to either `true` or `false`

So I will have to think about this.

[2017-07-27 16:52] AnthyG commented on #84
I think the lobby should be for everyone.
So maybe for the first 25 or so.. 🤔

[2017-07-27 16:58] AnthyG commented on #87
I don't have Windows Live Messenger..
And Telegram has games too 😄

[2017-07-27 17:00] Plasmmer commented on #84
I think 1K users is enough.

[2017-07-27 17:00] AnthyG commented on #89
Well, it will still not be possible in "The Future".
Because all messages get only decrypted, when opening the private chat with that user,  .. in Javascript.
The messages will always be encrypted, in both the users `data.json`-File, and the Database.

[2017-07-27 17:01] AnthyG commented on #90
It's probably because I didn't yet enable the function for the private chat..

[2017-07-27 17:06] AnthyG commented on #86
Probably because I didn't use all of Spectre.css's stuff for responsiveness..
But this will probably be fixed with AngularJS anyways, right?

[2017-07-27 17:10] AnthyG commented on #2
@Plasmmer I still think, it shouldn't be implemented into a chat-app.

And if you want to, you can edit your `data.json`-File in your ThunderWave's `data/users/[your auth_address]`-Directory.

[2017-07-27 17:21] Plasmmer commented on #89
Whatsapp messages are encrypted but user gets notifications.

[2017-07-27 17:22] Plasmmer commented on #86
Right.

[2017-07-27 17:22] Plasmmer commented on #2
Discord and Slack supports it.

[2017-07-27 17:23] AnthyG commented on #89
But WhatsApp doesn't encrypt the Meta-Data AFAIK.

[2017-07-27 17:26] AnthyG commented on #2
That's an argument.

[2017-07-31 19:03] AnthyG commented on #18
After some conversation with @Krixano, I decided to show an edit button, for a minute or two, after the message has been sent.
When the time is over, it will be hidden.

[2017-08-18 10:31] krixano commented on #36
I noticed that ZeroBlog has a `feeds` field [in it's `dbschema.json` file](https://github.com/HelloZeroNet/ZeroMe/blob/master/dbschema.json#L102). It looks like it's probably a place to put your dbquery instead of hardcoding it into the javascript - I'm not sure on this though.

[2017-10-08 13:42] AnthyG commented on #61
Finally fixed with commit dd4377c63ec85bfdc88173e67980fd82672f57de

[2017-10-08 13:42] #61 closed

[2017-10-08 14:52] AnthyG commented on #36
Ability to see new messages from the Lobby in the ZeroHello-Feed has been added with commit 49169e31ed6922f120d5f81d7b789dcc482eda39

[2017-10-09 15:55] nipos opened #93 "Store settings in the json file permanently"
Some browsers seem to have an issue with storing the chat settings permanently.
It would have many advantages if they were stored in the json file where the avatar settings are already stored.
They didn't get lost when I restarted my computer.
Additional advantages:
- It will sync between all browsers when they're accessing the same ZeroNet instance
- An graphical avatar setting could be implement

[2017-10-10 20:25] AnthyG commented on #93
Wow, I have to admit, I'm a bit baffled by how hard this actually is...
I mean, my options-system might not be the best and blablabla, but it's good IMO.
To pretty much re-write it around a different API seems to be even harder (I mean, I actually have to write my own one, because I can't just say "save this in there, at that position").

I'm not sure, if I even want to publish the branch I made f

[2017-11-17 22:32] AnthyG commented on #90
Fixed with commit 4c14024e3753343c113e989df55bfd9a1bf5900b

[2017-11-17 22:32] AnthyG commented on #6
Fixed some things with commit 4c14024e3753343c113e989df55bfd9a1bf5900b

[2017-11-18 08:52] Plasmmer commented on #90
@AnthyG
What are the next steps?

[2017-11-18 12:15] AnthyG commented on #6
Changed a few things with commit 34190c11e6af9ac1d8fc5a85442dfb81f583337c

[2017-11-19 11:38] AnthyG commented on #56
I don't know, if I can actually implement this in a good way, as the indices of the messages differ over all users database's, making it really hard to get a unique key.. 🤔

I could however add a random string to every message, which would be it's unique key across _all_ users (the problem with that would be, that users could just modify it, and thus even override all other users messages).

[2017-11-19 13:18] AnthyG commented on #56
Pretty much added with commit 76db7f3940b1d33dc1b415362b7a31794df8249b

[2017-11-19 13:18] #56 closed

[2017-11-19 13:19] AnthyG commented on #56
The feature as of now does look kind of ugly, but I will change that sometime soon!

[2017-11-19 13:43] AnthyG commented on #56
Some more changes to styling with commit 561e5e461f438fff4b9939b4b426152f14359d76

[2017-11-19 13:54] AnthyG commented on #56
Just to mention it, this feature isn't available in private chat (at least not yet).

[2017-11-23 15:27] AnthyG commented on #93
This has been added with pull-request https://github.com/AnthyG/ThunderWave/pull/96

[2017-11-23 15:27] #93 closed

[2017-11-23 15:28] AnthyG commented on #28
This has been added with commit 9eb123b4fffd351b73cd96b0b0d2d4b62521a93d

[2017-11-23 15:28] #28 closed

[2017-11-23 15:30] AnthyG commented on #90
Oh, I just saw that you actually meant that the scroll should be based on how much _you self_ read.

[2017-11-23 16:04] #70 closed

[2017-11-23 17:05] AnthyG opened #97 "Add system to directly open private chat with a user through URL"
This could enable a ZeroMail-like experience/ link, that could be shared everywhere to open up the private chat with that user.

If the zite then detects that the said URL is set (e.g. `?PC=[USER_CERT_ID]`, then the following code just needs to be executed, and the chat is open:
[code]

[2017-11-24 22:09] AnthyG commented on #65
Reference to #67

[2017-11-24 22:09] AnthyG commented on #77
Reference to #67

[2017-11-24 22:18] AnthyG commented on #57
I won't add this, until the dev of ZeroCDN works on it again, or until a good clone/ alternative arrives.

[2017-11-25 00:03] AnthyG commented on #55
Doing this on branch [search/filter-function](https://github.com/AnthyG/ThunderWave/tree/search/filter-function)

[2017-11-25 00:06] AnthyG commented on #55
Implemented the base-logic with commit 8ffe0bfd4e65115b8f3d5584a5def8931b6405ed
So pretty much only the UI is missing..

[2017-11-25 12:28] AnthyG commented on #55
Added filters with commit d54acc7e696bfff3a5e1675b47e4c81033f16c85

[2017-11-25 15:18] AnthyG commented on #55
Added user-filtering with commit fd4e292fa846d34bf6ae978c6144ab71f5b3a712

[2017-11-25 15:32] AnthyG commented on #55
It should also be mentioned, that it's possible to use just insert SQL-queries (you might just want to do this in the search-input, and you need to close the "current" part, and then add something before the actual closing of the "current" part. "Current" part being the real search-part in the real sql-query-string..

[2017-11-30 17:23] AnthyG commented on #55
Mostly added with merge #98

[2017-11-30 17:40] AnthyG commented on #19
I will probably have to improve the code for the private chat..
though both would basically use the same functions (except that group chat won’t use ecies to encrypt, because that would be bad for big groups, so just AES)

I should probably also extract some code-parts from lobby- and private-chat, to shorten the code, because for private-chat I just copied all of the lobby-chat parts and just edi

[2017-11-30 19:44] Plasmmer commented on #19
@AnthyG the chat groups will have options to be public or password-protected?

[2017-12-01 18:07] AnthyG commented on #19
@Plasmmer there could be something like a index for public groups, but as anybody could theoretically just create a new group by changing the URL, so I'm not sure if the first person in a group should even be logged (so it that would be the group-"admin"), because it would just take up extra storage.
The "password-protection" of a group is the group's ID, which _can_ be quite long, if you want to

[2017-12-02 19:15] AnthyG commented on #97
Added with commit b1d9fec24eb1cf6c2aa100216d4ce639423c2a9a

[2017-12-02 19:15] #97 closed

[2017-12-03 14:36] AnthyG commented on #19
The branch for this is located at https://github.com/AnthyG/ThunderWave/tree/Group-Chat

[2017-12-03 14:46] AnthyG commented on #19
Added basic functionality with commit e6ba8f70b2465ae7c542d3c9542881bd9fdc7e50!
You can now try a link like this: http://127.0.0.1:43110/thunderwave.bit/?GC:Abcdefghijklmnopqrstuvwxyz

[2017-12-03 14:47] AnthyG commented on #19
Next up is to “merge” the mostly similar functions from lobby, private, and group chat together, to reduce the code-size, and to make it more “modular”

[2017-12-03 15:28] AnthyG commented on #29
The button "Delete all Emoji's" brought this feature in already.

[2017-12-03 15:28] #29 closed

[2017-12-03 15:29] AnthyG commented on #5
This has been added in a commit quite some time ago.

[2017-12-03 15:29] #5 closed

[2017-12-03 15:30] AnthyG commented on #3
Closed with #28.

[2017-12-03 15:30] #3 closed

[2017-12-03 15:38] Plasmmer commented on #3
@AnthyG user can set a custom color for a message?

[2017-12-03 19:31] AnthyG commented on #3
Yes, you can toggle the dark theme in the settings.

Or did you mean something different?!?

[2017-12-03 19:42] Plasmmer commented on #3
I talk about users changing the color of a message they want.
User can set a different color for each message.
Then, the site registers the balloon-color together the message.

[2017-12-03 19:45] AnthyG commented on #3
Is this really necessary!?
I mean, why/ for what would you want to do that?

[2017-12-03 20:38] Plasmmer commented on #3
If the programmers would think like this, today the Facebook Messenger would not have the function to apply a color to a friend in chat.

[2017-12-03 21:03] AnthyG commented on #3
Applying a color to a friend is completely different from applying a color to _one specific_ message.

I just don't see why anyone would need something like this, and if you don't give any good purpose, I won't really even think about it. It's just a waste of my time to implement such a feature, but if you really really need it, make a fork, implement it yourself, and then do a pull-request.
Thoug

[2017-12-06 19:03] AnthyG commented on #19
I will close this issue, and create some for already found bugs in group chat, as this was just for the basic implementation for groups.

[2017-12-06 19:03] #19 closed

[2017-12-06 19:07] AnthyG opened #100 "Groups with too short ID's don't work"
Group-chat's with a too short ID don't work because the IV and Key needed for the AES-Functions won't be long enough if the group's ID is for example `0`.

This can be fixed by adding some extra stuff to the ID, either a random-generated string, or based on a seed or so, which would mean that the too short ID would always redirect to the same longer one.

[2017-12-07 18:56] AnthyG commented on #100
When it should be a random string, the user should probably be redirected to the new ID.

[2017-12-08 18:14] AnthyG commented on #6
I will close this issue, as the basic functions of the private chat have been added with previous commits.
For new bugs found/ ideas/ improvements for the private chat, new issues can be created.

[2017-12-08 18:14] #6 closed

[2017-12-08 18:17] AnthyG commented on #83
Ok, I will close this issue, as I won't be adding the requested feature, because it's just not really possible in ZeroNet.
If "you" have any idea, on how it could be achieved, please consider commenting here/ re-opening this issue!

[2017-12-08 18:17] #83 closed

[2017-12-10 14:37] AnthyG commented on #91
A simple bot has been added with commit cb7ab34755a00cf77e1a4521be481da33fc0c6e7!

[2017-12-10 14:38] AnthyG commented on #91
Commands are prefixed with `?!/`. So for example you can type `?!/help` to print a list of all available commands.

[2017-12-10 17:21] AnthyG commented on #91
Added 4 commands with commit 804ca2d92408d9199c1aabe5dcc958bd19d53857

[2017-12-10 17:52] AnthyG commented on #91
Added some style-changes for messages to and from the bot with commit cfa43f18b3ca3d6c31397efeb26e7f49acd03115

[2017-12-17 22:42] AnthyG opened #102 "Show list of users in group"
This would not only make the group-chat even more secure, in case of a security breach e.g. an unwanted person joined the group, but also make it more reliable on being able of seeing who can see the messages in general.

[2017-12-17 22:46] AnthyG commented on #39
I had a lot of time to think about it, and I have to say, it's really needed!
But the main problem I realized, is that this would make the "Seed all Emoji's"-option in the Settings pretty much useless. Because, well, _all_ emoji's are shown in the list..

So I have to think on how I could implement it, so that not all of the emoji's are _loaded_ at once.
Maybe the button could just open up the sam

[2017-12-18 04:15] Plasmmer commented on #39
It can use a tab menu, and only loads the emojis from the current tab and current view/page/scroll. After closing it, all these emojis are deleted, except the emojis the user has seen used by others or the emojis he used.

[2017-12-18 16:59] AnthyG commented on #39
Why should it delete them again!?
That would be too dumb, but the tab-menu-idea is good!
Not sure though, how I can implement the scroll-part.. 🤔

[2018-02-21 20:22] AnthyG opened #103 "Rules for ThunderWave"
I believe, so that everybody can chat "in peace" with each other (at least regarding the lobby-chat), a few rules should be created.
These rules are not like EULA where the user actually has to completely accept them, but rather they should provide a clear list of things that are or are not really .. allowed/ supported/ accepted by me.

Here's the list of rules:
- Do not post explicit media of any

[2018-02-21 21:27] #100 closed

[2018-02-21 21:33] AnthyG commented on #100
Fixed with commit 03912d5236eaffdb3e51ead7ef1dc2050571357d.
So for example `/thunderwave.bit/?GC:0` should now act as if it was /thunderwave.bit/?GC:04533867633317641N`, though I have deactivated the redirect on purpose, as I don't think, that it's really needed/ necessary.

[2018-02-21 21:54] AnthyG commented on #91
With commit 6277430bfec2751a6ade7afd1bfdce0978d77693, I changed the syntax for commands from `?!/[CMD]` to `/[CMD]` for easier typing.
I also added the rules as of now (#103), that are now accessible via `/rules`.

[2018-03-23 17:27] AnthyG commented on #91
Working on the settings-cmd-stuff now on the [bot-cmd-settings](https://github.com/AnthyG/ThunderWave/tree/bot-cmd-settings)-tree. Almost finished it with commit 98e1c2e8f80648512cf8411256f9aec696aade50!

[2018-04-13 16:43] AnthyG commented on #63
I will close this, because it is a "normal" ZeroNet-Thing.

[2018-04-13 16:43] #63 closed

[2018-04-24 19:27] Plasmmer opened #104 "thunderwave's domain is expiring"
You can renew it.

[2018-04-24 20:53] AnthyG commented on #104
I've already renewed it 😄

[2018-04-24 20:53] #104 closed

[2018-07-23 12:12] AnthyG commented on #67
This is the case for the ThunderWave Beta, so I'll close this issue for now.

[2018-07-23 12:12] #67 closed

[2018-07-23 12:13] AnthyG commented on #77
Please see #67 for more details on why this was closed.

[2018-07-23 12:13] #77 closed

[2018-07-23 12:16] AnthyG commented on #65
ThunderWave Beta now has the chat in app, so the only thing that needs to be done is make a proper front page. As I'm currently completely overhauling the design for ThunderWave Beta, I'll put the front page at a very low priority.

[2018-07-23 12:17] AnthyG commented on #86
This is covered with the re-design that is being worked on for ThunderWave Beta.

[2018-07-23 12:17] #86 closed

[2018-07-23 12:19] AnthyG commented on #59
This is included in ThunderWave Beta.

[2018-07-23 12:19] #59 closed

[2018-07-23 12:21] AnthyG commented on #64
I will leave this open, but as I'm working on ThunderWave Beta with VueJS, instead of AngularJS, I don't think this is necessary anymore.
Also, it seems like you (@DaniellMesquita) are not very active anymore, so just close this, if you aren't planning to work on this in the future.

[2018-07-23 12:23] AnthyG commented on #58
I'm not planning on using jQuery in ThunderWave Beta, so I'll rename this issue.

[2018-07-23 12:31] AnthyG opened #105 "Complete re-design"
I'm currently working on a full re-design of ThunderWave for the ThunderWave Beta.
The current state can be seen here: https://codepen.io/anthyG/full/OwbYPB/

Just as a sidenote, the design currently active on [zero://beta.thunderwave.bit](zero://beta.thunderwave.bit) is actually a different one from the codepen and from the original design, though it still uses the complete stuff from the origina

[2018-07-23 12:40] AnthyG opened #106 "Complete re-write of the original code for ThunderWave Beta"
ThunderWave Beta is in the works for quite some time now, and it's finally making some progress :tada:
I planned to re-write pretty much all of the original code while using VueJS instead of dirty jQuery and javascript stuff. That should fix a lot of issues, e.g. editing own messages (#18) or fixing the annoying "bug" where two messages that where received at the almost same time make it so that o

[2018-07-23 12:41] AnthyG commented on #39
I'm working on this for the ThunderWave Beta re-design, see #105 for more details.

[2018-07-23 12:45] AnthyG commented on #19
Merging the functions as noted in https://github.com/AnthyG/ThunderWave/issues/19#issuecomment-348778123 is being worked on in ThunderWave Beta. For more information, see #106.

[2018-07-28 09:30] AnthyG commented on #73
This will be put in to the context menu as well #53

[2018-07-28 10:26] AnthyG opened #107 "Citation for private- / groupchat"
I currently have not implemented citation (/ answer/ reply) in private- or groupchat because messages sent in either of those are completely encrypted and the only thing I can reference to is the `message_id`, which is different for everybody, because of ZeroNet, and `message` which is just the encrypted message's json. And then also the `json_id`..

So I guess the only way to actually make this f

[2018-08-14 17:30] DaniellMesquita commented on #75
@AnthyG I think its the 1st priority now.
Profiles in chats is a needed thing.

[2018-08-15 03:16] DaniellMesquita commented on #64
Why VueJS? You can use also ReactJS.
I can help in the redesign with Material elements.

[2018-08-15 03:36] DaniellMesquita commented on #105
The new design is amazing!

[2018-08-15 03:37] DaniellMesquita opened #108 "[Priority] Start page"

[2018-08-15 03:37] DaniellMesquita opened #109 "Post photos from clipboard"

[2018-08-15 03:38] DaniellMesquita opened #110 "[Priority] GIFs"

[2018-08-15 03:38] DaniellMesquita opened #111 "Audios"

[2018-08-15 03:38] DaniellMesquita opened #112 "Background"

[2018-08-15 03:38] DaniellMesquita opened #113 "Languages"

[2018-08-15 03:39] DaniellMesquita opened #114 "FAQs"

[2018-08-15 03:39] DaniellMesquita opened #115 "Channels"

[2018-08-15 16:16] DaniellMesquita commented on #19
@AnthyG you can use Bitcoin addresses in the groups, so who have the privatekey is owner of a group.
Or a system where owner can add other admins/roles.

[2018-08-15 18:53] AnthyG commented on #59
Yes, they are from Google's Material Design Icons.

[2018-08-15 18:55] AnthyG commented on #19
@DaniellMesquita I think that should be a new issue.

[2018-08-15 18:59] AnthyG commented on #110
Gifs are already supported through issues like #50 and #13.

[2018-08-15 18:59] #110 closed

[2018-08-15 19:04] AnthyG commented on #111
Audio in general has been implemented with #99, but I will look into using [Plyr](/sampotts/plyr) as a player for the ThunderWave Beta.

So maybe change this to "Better Audio/Video player"?

[2018-08-15 19:09] AnthyG commented on #19
Actually, I'm not sure how I would implement that 😆
Because I can't just use the public key of a user to create a group,.. everybody knows that key.

[2018-08-15 19:10] AnthyG commented on #53
It's currently openable on messages, as you can see in the pen linked on #105.

[2018-08-15 19:11] AnthyG commented on #114
FAQ for what questions!?

[2018-08-15 19:12] AnthyG commented on #115
What is the difference between a channel and a group!?

[2018-08-15 19:13] AnthyG commented on #108
This is a duplicate of #65.
If not, please consider explaining further.

[2018-08-15 19:13] #108 closed

[2018-08-15 19:14] AnthyG commented on #112
What do you mean with "Background"?

[2018-08-15 22:30] DaniellMesquita commented on #108
I already explained it on Git Center.

[2018-08-15 22:35] DaniellMesquita commented on #108
Start page with messages history and "New message" button.
User can also pin messages in this page.

[2018-08-15 22:35] DaniellMesquita opened #116 "private-/ public key pair for groups"

[2018-08-15 22:43] DaniellMesquita commented on #19
Reference: https://github.com/AnthyG/ThunderWave/issues/116.

[2018-08-15 22:46] DaniellMesquita opened #117 "Menu with curated list of GIFs, organized in categories, with titles"

[2018-08-15 22:49] DaniellMesquita commented on #111
@AnthyG there is a dedicated button for audio, where user can press and record a message?

[2018-08-15 22:50] DaniellMesquita commented on #115
Channels have a owner (or other admins) that sents updates, and users can subscribe.

[2018-08-15 23:56] DaniellMesquita commented on #112
User can change background that appear on all chats.
And can also set a custom background to a private chat, and the other user sees.
Also, owners of groups can set a background, and every member sees.

[2018-08-16 00:25] DaniellMesquita commented on #81
@AnthyG
Updated title.

[2018-08-16 00:27] DaniellMesquita opened #118 "Show thumbnail of KopyKate video"

[2018-08-16 00:27] DaniellMesquita opened #119 "Groups/channels as hubs"

[2018-08-16 00:28] DaniellMesquita commented on #53
It also need to act on profile photo and name.

[2018-08-16 00:31] DaniellMesquita opened #120 "Forward messages"

[2018-08-16 00:35] DaniellMesquita opened #121 "Users can be identified with phone number (private, encrypt it)"
Only who knows the number can see the linked profile.

[2018-08-16 00:36] DaniellMesquita opened #122 "Can share contacts"

[2018-08-16 00:37] DaniellMesquita commented on #85
@AnthyG

[2018-08-16 00:43] DaniellMesquita commented on #102
Add the beta label?

[2018-08-16 00:44] DaniellMesquita opened #123 "In profile, show groups in common"

[2018-08-16 00:49] DaniellMesquita commented on #82
You can assign me.

[2018-08-16 00:51] DaniellMesquita commented on #75
@AnthyG
Please add it to Beta milestone.

[2018-08-16 00:54] DaniellMesquita commented on #48
@AnthyG
This should be reviewed in beta.

[2018-08-16 00:55] DaniellMesquita commented on #54
@AnthyG
Please add it to beta.

[2018-08-16 00:58] DaniellMesquita commented on #80
The svg images are shown?

[2018-08-16 00:59] DaniellMesquita commented on #26
@AnthyG

[2018-08-16 01:00] DaniellMesquita commented on #14
@AnthyG
It will be on beta?
Or you will assign me to this issue?

[2018-08-16 01:00] DaniellMesquita commented on #17
@AnthyG
It will be on beta?
Or you will assign me to this issue?

[2018-08-16 01:02] DaniellMesquita commented on #31
@AnthyG
Is ThunderWave on 0list?

[2018-08-16 01:26] DaniellMesquita commented on #9
@AnthyG
I can create the presentation, and you do the thing to register that a user alredy saw this.

[2018-08-16 12:39] AnthyG commented on #111
I found these:
https://stackoverflow.com/questions/34820578/how-to-capture-audio-in-javascript
https://stackoverflow.com/questions/30909901/how-to-record-audio-from-audio-element-using-javascript/30910347
https://stackoverflow.com/questions/16413063/html5-record-audio-to-file/22420137

And this seems to work (from here: https://jsfiddle.net/sasivarunan/bv55z5fe/):
[code]

But as ZeroNet does not s

[2018-08-16 12:45] AnthyG commented on #118
Lol, I don't even know if videos from KopyKate can be used in ThunderWave.

[2018-08-16 12:46] AnthyG commented on #119
This is actually something that I've already said that I want to do it. But I haven't yet experimented with the hub or merger feature or whatever it actually is, so this won't be until unknown times.

[2018-08-16 12:55] AnthyG commented on #120
I guess the message's body can just be copied and then marked as "Forwarded" (though, I'm not sure if I want to enable this for private and group messages)

[2018-08-16 13:01] AnthyG commented on #123
I can't do this, because all the groups a user has joined are encrypted with AES and are not shared with anyone (they are saved in the data_private.json,.. at least if I remember correctly).

[2018-08-16 13:01] #123 closed

[2018-08-16 13:01] AnthyG commented on #82
I don't even know what this is for.

[2018-08-16 13:05] AnthyG commented on #31
@DaniellMesquita, I don't know

[2018-08-17 01:32] DaniellMesquita commented on #123
@AnthyG

[2018-08-17 01:36] DaniellMesquita commented on #111
Also, iFrame blocks features such as LocalStorage.
Maybe ZeroFrame can support media capture.

[2018-08-17 01:38] DaniellMesquita commented on #119
For scalability, move all group/channel data to its hubs, when you launch this feature.

[2018-08-17 01:49] DaniellMesquita commented on #31
It is listed.

[2018-08-17 01:49] #31 closed

[2018-08-17 02:09] DaniellMesquita commented on #31
It is listed.

[2018-08-17 02:51] DaniellMesquita commented on #82
Sounds as feedback of messages, clicks, dialogs, etc.

[2018-08-17 02:53] DaniellMesquita commented on #9
First slide:

### Welcome to ThunderWave!
Beautifull, reliable and funny instant messenger.

The other slides are explaining each feature.

[2018-08-17 16:55] AnthyG commented on #119
I can't move anything to anything because I have absolutely no way of knowing what messages belong to which group.
Also, I think the hub-for-group/channel should rather be optional, though I will think about this more, when I've actually made this feature.

[2018-08-18 23:49] DaniellMesquita commented on #119
You need to attribute messages to groups, or the app will be huge.

[2018-08-19 10:15] AnthyG commented on #119
Well I can understand that for the future, but it still doesn't help me in any way, because as I said before, I do not know which messages belong to which group.
That's the whole point of full encryption for the messages. Nobody is supposed to know what messages belong to which group.

[2018-08-20 08:01] krixano commented on #118
You can if you use the CORS stuff. I was planning on doing this for ZeroMedium, just haven't gotten to it yet.

[2018-08-20 23:49] DaniellMesquita commented on #118
You can also show a quick reading of ZeroMedium posts, like Telegram does with Medium.

[2018-08-21 23:30] DaniellMesquita opened #124 "Github project topics"

[2018-08-22 22:48] DaniellMesquita opened #125 "Status (online, offline, busy, away)"
To not spam the network, now you can use the PeerMessage plugin.

[2018-08-23 14:06] AnthyG commented on #125
I know.
But thanks for the reminder

[2018-08-31 14:40] DaniellMesquita opened #126 "Turn lobby messages into optional files"
Div showing: "You have a new message".
Or: "You have 5 new messages, click here to download".

It will make ThunderWave more future-proof for lower download size and better scalability.

[2018-08-31 14:42] DaniellMesquita opened #127 "Turn all group messages into optional files"
Sorry to say it, but I think you need to take attention about scalability.

[2018-08-31 14:42] DaniellMesquita commented on #127
Reference: #126

[2018-09-02 03:05] krixano commented on #119
He's saying it wouldn't know where to move the *existing* messages because they are fully encrypted to ensure nobody can even see what group they are in.

[2018-09-02 03:11] DaniellMesquita commented on #119
Yes.
When entering site, there is a message about that all messages can be deleted since it is in early development stage.
When in stable, chat groups/channels as hubs is a need.

[2018-09-02 03:42] krixano commented on #119
He's already said he will do it for **new** messages when he implements it in the future. But he **can't** do it for existing messages (it's impossible).

[2018-09-02 04:34] DaniellMesquita commented on #119
Sorry for the misunderstood.
I forgot that the messages will be deleted for reduce app size, while hubs are not implemented.

[2018-09-02 19:08] krixano commented on #108
He was saying if it's **not a duplicate** then explain.

[2018-09-15 23:44] DaniellMesquita commented on #82
Moved: https://github.com/imachug/ZeroNet-Instant-Messenger/issues/35

[2018-09-16 15:53] imachug commented on #105
Yeah, same!